<div class="container py-5">
  <h2 class="mb-4">Chỉnh sửa phim</h2>
  
  <!-- Hiển thị thông báo lỗi nếu có -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Hiển thị form chỉnh sửa -->
  <div *ngIf="movie && !loading" class="movie-form">
    <form (ngSubmit)="saveMovie()">
      <div class="form-group">
        <label for="name">Tên Phim</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="movie.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="genre">Thể Loại</label>
        <input type="text" class="form-control" id="genre" [(ngModel)]="movie.genre" name="genre" required>
      </div>

      <div class="form-group">
        <label for="duration">Thời Lượng</label>
        <input type="number" class="form-control" id="duration" [(ngModel)]="movie.duration" name="duration" required>
      </div>

      <div class="form-group">
        <label for="showtime">Giờ Chiếu</label>
        <select class="form-control" id="showtime" [(ngModel)]="movie.showtimes" name="showtime" required>
          <option *ngFor="let time of availableShowtimes" [value]="time">{{ time }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="description">Mô Tả</label>
        <textarea class="form-control" id="description" [(ngModel)]="movie.description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label for="imageUrl">URL Hình Ảnh</label>
        <input type="text" class="form-control" id="imageUrl" [(ngModel)]="movie.imageUrl" name="imageUrl" required>
      </div>
      
      <div class="nagetive">
        <button type="submit" class="btn btn-primary mt-3">Lưu Thay Đổi</button>
        <button type="button" class="btn btn-secondary mt-3" (click)="goBackHome()">Quay lại</button>
      </div>
    </form>
  </div>

  <!-- Hiển thị spinner khi đang tải -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Đang tải...</span>
    </div>
  </div>
</div>
