<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <!-- Link to Boxicons for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <style>
        /* Copy CSS code here */
    </style>
</head>
<body>
    <!-- Đăng ký -->
<div class="container">
    <div class="form-box">
        <form action="" name="Formfill" (submit)="onSubmit()" #signupForm="ngForm">
            <h2>Đăng ký</h2>
            <div class="input-box">
                
                <input id="username" type="text" name="Username" placeholder="Tài khoản" required [(ngModel)]="username">
            </div>
            <div class="input-box">
                
                <input id="password" type="password" name="Password" placeholder="Mật khẩu" required [(ngModel)]="password">
            </div>
            <div class="input-box">
               
                <input type="password" name="CPassword" placeholder="Nhập lại mật khẩu" required [(ngModel)]="confirmPassword">
            </div>
            <div class="button">
                <input id="btn-signup" type="submit" value="Đăng ký" class="btn">
            </div>
            <div class="group">
                <span><a href="./login">Đăng nhập</a></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>
