<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>

<body>
    <!-- ĐĂNG NHẬP -->
    <div>
        <div class="container">
            <div class="form-box">
                <form (ngSubmit)="onSubmit()" name="Formfill">
                    <h2>Đăng nhập</h2>
                    <!-- Thông báo lỗi -->
                    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
                    <!-- Thông báo thành công -->
                    <p *ngIf="successMessage" class="text-success">{{ successMessage }}</p>
                    <div class="input-box">
                        <input id="username" [(ngModel)]="credentials.username" name="username" placeholder="Tài khoản" required>
                    </div>
                    <div class="input-box">
                        <input id="password" [(ngModel)]="credentials.password" name="password" placeholder="Mật khẩu" type="password" required>
                    </div>
                    <div class="button">
                        <input id="btn-signin" type="submit" value="Đăng nhập" class="btn">
                    </div>
                    <!-- Link Button Đăng Ký và Quên Mật Khẩu -->
                    <div style="text-align: center; margin-top: 10px;">
                        <a href="#" style="margin-right: 15px;">Đăng ký</a>
                        <a href="#">Quên mật khẩu?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
