<div class="movie-list-container">
    <h2>Danh Sách Phim Chiếu Trong Tuần</h2>
    <ul class="movie-list">
      <li *ngFor="let movie of movies" class="movie-item">
        <a [routerLink]="['/movie', movie.id]" class="movie-link">
          <img [src]="movie.posterUrl" alt="{{ movie.title }}" class="movie-poster" />
          <div class="movie-info">
            <h3 class="movie-title">{{ movie.title }}</h3>
            <p class="movie-genre">{{ movie.genre }}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  